

#remember{

	padding-left: 20px;
	
}

#signin{

	padding-left: 110px;
}

#forget{

	padding-left: 10px;
}

#Title{

	font-size: 50px;
}

.box.box-primary {
    border-top-color:#00a65a;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #00a65a;
}


.regularLabel{

	
	background-color: #e7e7e7;
    color: #444;
    border-color: #ddd;
    font-size: 10.5px;
}

.titleCard {

	font-size: 50px;
}
	
td {  
	

}	
th {
	
}

#tableSection {
	
	margin-left: 30px;
	margin-top: 50px;
	margin-right: 30px;
}

#header {
	margin-top: -22px;
}

#pdf{

	padding-left: 12%;

}
	

#panelComments{

	font-size:20px;

}


#addComment{

	  top: 25%;
	  position: absolute;
	  border-radius: 40%;
	  font-size: 20px;
	  left: 13%;
}

#timeline {
	
	margin-left: 30px;
	margin-top: 30px;
	margin-right: 30px;
}

#myform {
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

#discussion {
	
	
	margin-bottom: 20px;
}

#submitbtn {
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
}

#newUpload {
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
}

#delete {
	font-size: 10px;
	margin-top: 5px;
}

#upload {
	margin-top: 20px;
	margin-bottom: 20px;
}