

#remember{

	padding-left: 20px;
	
}

#signin{

	padding-left: 110px;
}

#forget{

	padding-left: 10px;
}

#Title{

	font-size: 50px;
}

.box.box-primary {
    border-top-color:#00a65a;
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #00a65a;
}


.regularLabel{

	
	background-color: #e7e7e7;
    color: #444;
    border-color: #ddd;
    font-size: 10.5px;
}

.titleCard {

	font-size: 50px;
}
	

#tableSection {
	
	margin-left: 30px;
	margin-top: 50px;
	margin-right: 30px;
}

#header {
	margin-top: -22px;
}

#pdf{

	padding-left: 12%;

}
	

#panelComments{

	font-size:20px;

}


#addComment{

	  top: 25%;
	  position: absolute;
	  border-radius: 40%;
	  font-size: 20px;
	  left: 13%;
}

#timeline {
	
	margin-left: 30px;
	margin-top: 30px;
	margin-right: 30px;
}

#myform {
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

#discussion {
	
	
	margin-bottom: 20px;
}

#submitbtn {
	margin-top: 20px;
	margin-bottom: 20px;
}

#submitbtn2 {
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}
#submitbtn3 {
	margin-left: 350px;
	margin-right: 30px;
	margin-bottom: 20px;
	margin-top: 30px;
}
#submitbtn4 {

}

#newUpload {
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
}

#delete {
	font-size: 10px;
	margin-top: 5px;
}

#upload {
	margin-top: 20px;
	margin-bottom: 20px;
}

#abstract {
	margin-top: 40px;
}

#remove {

	color: #7f0a10;
	background: #7f0a10;
}

#editbutton {
	margin-left: 350px;
	margin-top: 20px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.dl-horizontal dd {
   
    padding-top: 20px;
  }

  .dl-horizontal dt {

    padding-top: 20px;
  }